pkgbase = radicle-bin
	pkgdesc = open source, peer-to-peer code collaboration stack built on Git
	pkgver = 1.0.0rc.7
	pkgrel = 1
	epoch = 1
	url = https://app.radicle.xyz/nodes/seed.radicle.xyz/rad:z3gqcJUoA1n9HaHKufZs5FCSGazv5
	arch = x86_64
	arch = aarch64
	license = Apache-2.0 OR MIT
	source_x86_64 = https://files.radicle.xyz/releases/1.0.0-rc.7/radicle-1.0.0-rc.7-x86_64-unknown-linux-musl.tar.xz
	source_x86_64 = radicle-bin-1:1.0.0rc.7-1-LICENSE-MIT::https://seed.radicle.xyz/raw/rad:z3gqcJUoA1n9HaHKufZs5FCSGazv5/081af03362b5bd3d637ee22011a4e5b51a1f1498/LICENSE-MIT
	source_x86_64 = radicle-node.service
	source_x86_64 = radicle-httpd.service
	sha256sums_x86_64 = de1a1f64c7ce18c2b7bc6d6a8d12cfd1dedf7c95e6444d579360d29154aa7274
	sha256sums_x86_64 = fff889db903497b59500b5171806c511b3c83df1100532c2f7aa8f96af46cc4d
	sha256sums_x86_64 = SKIP
	sha256sums_x86_64 = SKIP
	source_aarch64 = https://files.radicle.xyz/releases/1.0.0-rc.7/radicle-1.0.0-rc.7-x86_64-unknown-linux-musl.tar.xz
	source_aarch64 = radicle-bin-1:1.0.0rc.7-1-LICENSE-MIT::https://seed.radicle.xyz/raw/rad:z3gqcJUoA1n9HaHKufZs5FCSGazv5/081af03362b5bd3d637ee22011a4e5b51a1f1498/LICENSE-MIT
	source_aarch64 = radicle-node.service
	source_aarch64 = radicle-httpd.service
	sha256sums_aarch64 = c690f6a056d89d720d1df1fd997ad8b8fb4addaaba5d92bf734a5622f12e65be
	sha256sums_aarch64 = fff889db903497b59500b5171806c511b3c83df1100532c2f7aa8f96af46cc4d
	sha256sums_aarch64 = SKIP
	sha256sums_aarch64 = SKIP

pkgname = radicle-bin
	depends = radicle-cli-bin
	depends = radicle-node-bin
	depends = radicle-httpd-bin
	provides = radicle
	conflicts = radicle

pkgname = radicle-cli-bin
	pkgdesc = open source, peer-to-peer code collaboration stack built on Git - cli
	provides = radicle-cli
	conflicts = radicle-cli

pkgname = radicle-node-bin
	pkgdesc = open source, peer-to-peer code collaboration stack built on Git - node
	install = radicle-node-bin.install
	provides = radicle-node
	conflicts = radicle-node

pkgname = radicle-httpd-bin
	pkgdesc = open source, peer-to-peer code collaboration stack built on Git - httpd
	provides = radicle-httpd
	conflicts = radicle-httpd
