pkgbase = radicle-bin
	pkgdesc = open source, peer-to-peer code collaboration stack built on Git
	pkgver = 1.0.0rc.9
	pkgrel = 1
	epoch = 1
	url = https://app.radicle.xyz/nodes/seed.radicle.xyz/rad:z3gqcJUoA1n9HaHKufZs5FCSGazv5
	arch = x86_64
	arch = aarch64
	license = Apache-2.0 OR MIT
	source_x86_64 = https://files.radicle.xyz/releases/1.0.0-rc.9/radicle-1.0.0-rc.9-x86_64-unknown-linux-musl.tar.xz
	source_x86_64 = radicle-bin-1:1.0.0rc.9-1-LICENSE-MIT::https://seed.radicle.xyz/raw/rad:z3gqcJUoA1n9HaHKufZs5FCSGazv5/081af03362b5bd3d637ee22011a4e5b51a1f1498/LICENSE-MIT
	source_x86_64 = radicle-node.service
	source_x86_64 = radicle-httpd.service
	sha256sums_x86_64 = 04e2a76701324344bbe7abeac7d372a9fffc914d5ce9866a020c3efb8823136d
	sha256sums_x86_64 = fff889db903497b59500b5171806c511b3c83df1100532c2f7aa8f96af46cc4d
	sha256sums_x86_64 = SKIP
	sha256sums_x86_64 = SKIP
	source_aarch64 = https://files.radicle.xyz/releases/1.0.0-rc.9/radicle-1.0.0-rc.9-x86_64-unknown-linux-musl.tar.xz
	source_aarch64 = radicle-bin-1:1.0.0rc.9-1-LICENSE-MIT::https://seed.radicle.xyz/raw/rad:z3gqcJUoA1n9HaHKufZs5FCSGazv5/081af03362b5bd3d637ee22011a4e5b51a1f1498/LICENSE-MIT
	source_aarch64 = radicle-node.service
	source_aarch64 = radicle-httpd.service
	sha256sums_aarch64 = f326f6dba2ffea281670917af20f04c60eef3776d2ab6f21458659a47c0bf4c9
	sha256sums_aarch64 = fff889db903497b59500b5171806c511b3c83df1100532c2f7aa8f96af46cc4d
	sha256sums_aarch64 = SKIP
	sha256sums_aarch64 = SKIP

pkgname = radicle-bin
	depends = radicle-cli-bin
	depends = radicle-node-bin
	depends = radicle-httpd-bin
	provides = radicle
	conflicts = radicle

pkgname = radicle-cli-bin
	pkgdesc = open source, peer-to-peer code collaboration stack built on Git - cli
	provides = radicle-cli
	conflicts = radicle-cli

pkgname = radicle-node-bin
	pkgdesc = open source, peer-to-peer code collaboration stack built on Git - node
	provides = radicle-node
	conflicts = radicle-node

pkgname = radicle-httpd-bin
	pkgdesc = open source, peer-to-peer code collaboration stack built on Git - httpd
	provides = radicle-httpd
	conflicts = radicle-httpd
